@charset "UTF-8";


body{
	
	background-color: #f5f5dc;
}


 #e1{
            background-color: red;
            width: 10px;
            height: 10px;
            position: absolute;
            margin-top : 200px;
            margin-left: 500px;
           
            
}